body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background-color: white;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input#countryCode {
    width: 60px; /* Smaller width for country code */
    margin-right: 10px;
}

input#phoneNumber {
    flex: 1;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #25D366; /* WhatsApp logo color */
    color: white;
    border: none;
    border-radius: 4px;
    /* font-size: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #22bb58;
}

#error {
    text-align: center;
}